@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;500;600;700;800&&family=Fira+Code:wght@600&display=swap");
@import url("greeting.css");
@import "todo.css";

* {
  box-sizing: border-box;
}

body {
  background-color: #5c767d;
  font-family: "Epilogue", sans-serif;
  height: 100vh;
  color: white;
  z-index: 1;
}

button {
  background: initial;
  border: none;
  font-size: 1rem;
  color: rgba(139, 0, 0, 0.85);
  cursor: pointer;
  display: flex;
}

button:focus {
  border: none;
  outline: none;
}

.name-input,
.greetings,
.greeting-form,
.containier-toDoList,
.todo {
  display: none;
}

.showing {
  display: block;
}

.showing-flex {
  display: flex;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 1s linear;
}

main {
  min-width: 500px;
  color: white;
  padding: 20px 15px;
  background-color: rgba(0, 0, 0, 0.35);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 45%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 10;
  min-height: 400px;
}

.root {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  z-index: 2;
}

.root:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.041);
}

.clock {
  font-size: 5rem;
  padding: 10px;
  line-break: auto;
  display: flex;
  justify-content: center;
  font-family: "Fira Code", monospace;
  font-weight: 600;
  text-shadow: 1px 5px rgba(0, 0, 0, 0.466);
  margin-top: 5px;
}

.weather-map {
  color: whitesmoke;
  position: fixed;
  top: 5px;
  right: 5px;
  font-weight: 500;
}
.weather {
  font-size: 1.6rem;
}

.location {
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
}
