@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Epilogue:wght@200;300;400;500;600;700;800&display=swap");
@import "todo.css";

* {
  box-sizing: border-box;
}

body {
  background-color: #90a4aa;
  font-family: "Epilogue", sans-serif;
  height: 100vh;
}

button {
  background: inherit;
  border: none;
  font-size: 23px;
  color: darkred;
}

button:focus {
  border: none;
}

.name-input,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 1s linear;
}

main {
  min-width: 500px;
  color: white;
  padding: 20px 20px 50px 20px;
  /* border: 1px solid black;
  border-radius: 40px; */
  background-color: rgba(0, 0, 0, 0.3);
  width: 45%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* #000d */
}

.clock {
  font-size: 4rem;
  padding: 10px;
  line-break: auto;
  display: flex;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  text-shadow: 1px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.greeting-form {
  display: flex;
  justify-content: center;
}

.name {
  width: 80%;
  display: flex;
  justify-content: center;
}

.name-input {
  background-color: inherit;
  border: none;
  min-width: 187px;
  padding: 5px;
}

.name-input::placeholder {
  color: white;
  font-size: 20px;
}

.name-input:hover {
  box-shadow: -4px -4px 10px 0px #fff9, -2px -2px 3px 0px #fff9,
    4px 4px 10px 0px #0002, 2px 2px 3px 0px #0001;
}

.greetings {
  padding: 20px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  font-weight: 700;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.weather-map {
  color: whitesmoke;
  position: fixed;
  top: 5px;
  right: 5px;
}
.weather {
  font-size: 27px;
}

.location {
  font-size: 14px;
}
