.containier-toDoList {
  justify-content: space-around;
}

.todo {
  width: 100%;
  margin-top: 40px;
}

.todo-form {
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.todo_item {
  display: flex;
  align-items: center;
  text-align: start;
  font-size: 1.4rem;
  font-weight: 500;
  text-shadow: 1px 5px rgba(0, 0, 0, 0.1);
  padding-bottom: 3px;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.7), 2px 2px 2px rgba(48, 21, 13, 0.24);
}

.todo_list {
  display: flex;
  font-size: 2rem;
  align-items: flex-start;
  text-align: center;
  padding: 0.2rem;
}

.todo-input {
  border: none;
  border-radius: 15px;
  border-bottom: 0.3px solid white;
  background-color: inherit;
  width: 100%;
  height: 40px;
  padding: 3px 15px 3px 15px;
  min-width: 230px;
  line-height: 1.4rem;
}

.todo-input[type="text"] {
  font-size: 1.4rem;
}

.todo-input::placeholder {
  font-size: 1.4rem;
  color: white;
  font-weight: 600;
  text-align: center;
}

.todo-input:hover {
  border: none;
  box-shadow: 2px 2px 4px 0 rgba(255, 255, 255, 0.5),
    -2px -2px 3px 0 rgba(116, 125, 136, 0.2),
    inset -2px -2px 3px 0 rgba(255, 255, 255, 0.5),
    inset 2px 2px 3px 0 rgba(116, 125, 136, 0.3);
  transition: all 0.3s ease-in-out;
}

.todo-input:focus {
  border: none;
  color: white;
  box-shadow: 2px 2px 4px 0 rgba(255, 255, 255, 0.5),
    -2px -2px 3px 0 rgba(116, 125, 136, 0.2),
    inset -2px -2px 3px 0 rgba(255, 255, 255, 0.5),
    inset 2px 2px 3px 0 rgba(116, 125, 136, 0.3);
  transition: all 0.1s ease-in-out;
}

.todo-column {
  margin-bottom: 20px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  padding: 5px;
  border-bottom: 1px solid rgb(202, 201, 201);
  font-weight: 500;
}

.in-progress,
.done {
  padding: 10px;
  width: 50%;
  box-shadow: 7px 7px 16px -6px rgb(63, 60, 63);
  border-radius: 8px;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5), 2px 2px 2px rgba(48, 21, 13, 0.24);
}

.fa-times {
  color: rgba(0, 0, 0, 0.644);
  margin: 1px 1px 1px 10px;
  padding: 2px;
  transition: all 0.15s linear;
}

.fa-times:hover {
  color: #381917;
  text-shadow: -1px -1px 0 #941a15;
}

.fa-check,
.fa-undo-alt {
  margin: 1px 6px 1px 0px;
  padding: 1.5px;
  transition: all 0.15s linear;
  text-shadow: -1px -1px 1px rgba(209, 209, 209, 0.685),
    1px 1px 1px rgba(0, 0, 0, 0.671), 2px 2px 2px rgba(48, 21, 13, 0.24);
}

.fa-check:hover,
.fa-undo-alt.fa-undo-alt:hover {
  color: #ec817d;
  text-shadow: -1px -1px 0 #c2211c;
}

.fa-undo-alt:hover {
  animation: rotate-center 0.2s ease-in-out forwards;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-180deg);
  }
}
